# Dependencies
node_modules
.pnp
.pnp.js

# Production
.next
out
build
dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Config files
next.config.mjs
postcss.config.mjs
tailwind.config.ts
vitest.config.ts